__pycache__
.venv/

.env

# Frontend
frontend/node_modules/
frontend/dist/
.idea/
client-secret.json
rainbot.log

# Selenium related
.wdm/
chromedriver
geckodriver
*.png
*.log.*
tests/test_booking.py
.claude/tsc-cache
data
